@page "/DatiColloquiante"
<PageTitle>Dati Colloquiante</PageTitle>

<form>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Cognome</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Comune di nascita</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Provincia di nascita</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Stato di nascita</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Città di residenza</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Provincia di residenza</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Stato di residenza</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Recapito</label>
        <input type="tel" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control">
    </div>

    <button type="button" class="btn btn-success">Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@code {
    
}
