@page "/HardSkills"
@inject HttpClient Http
@using HRMichLeo.Shared.Models
@using System.ComponentModel
@using System.Collections
@using Microsoft.EntityFrameworkCore.Infrastructure

<PageTitle>HardSkills</PageTitle>
<head>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<h1 class="h1titoli"><span class="spantitoli">H</span>ard<span class="spantitoli">S</span>kills</h1>
<Grid  @ref="_grid" TItem="HardSkill"
      DataProvider="HardSkillsDataProvider"
      Class="table table-hover table-bordered table-striped"
      AllowFiltering="true"
      Responsive="true"
      ItemsPerPageText="20"
      PageSizeSelectorItems="new int[]{10}"
      PaginationItemsTextFormat="{0}" >
    <GridColumn TItem="HardSkill" HeaderText="Descrizione" PropertyName="DescrizioneHardSkills">
        @context.DescrizioneHardSkills
    </GridColumn>
    <GridColumn TItem="HardSkill" HeaderText="Attivo?" PropertyName="AttivoHS">
        @context.AttivoHS
    </GridColumn>
    <GridColumn TItem="HardSkill" Filterable="false" HeaderText="Elimina" >
        <Button Color="ButtonColor.Danger" @onclick="() => DeleteHardSkill(context.Id)" > Elimina </Button>
    </GridColumn>
    <GridColumn TItem="HardSkill" Filterable="false" HeaderText="Modifica">
        <Button Color="ButtonColor.Success" @onclick="() => ShowModalUpdate(context.Id,context)"> Modifica </Button>
    </GridColumn>
    
</Grid>

<Modal @ref="_modal" Title="HardSkill">

    <BodyTemplate>
        @if (!_updateModal)
        {
            <EditForm Model="_updateHardSkill">
                <div>
                    <label>
                        Modifica Descrizione:
                        <InputText @bind-Value="_updateHardSkill.DescrizioneHardSkills"></InputText>
                    </label>
                </div>

                <div>
                    <label>
                        Attivo?
                        <InputCheckbox @bind-Value="_updateHardSkill.AttivoHS"></InputCheckbox>
                    </label>
                </div>
            </EditForm>
        }
        else
        {
            <EditForm Model="_newHardSkill">

                <div>
                    <label>
                        Descrizione HardSkill:
                        <InputText @bind-Value="_newHardSkill.DescrizioneHardSkills"></InputText>
                    </label>
                </div>
                <div>
                    <label>
                        HardSkill attivo?
                        <InputCheckbox @bind-Value="_newHardSkill!.AttivoHS"></InputCheckbox>

                    </label>
                </div>
            </EditForm>
        }


    </BodyTemplate>
    <FooterTemplate>
        @if (!_updateModal)
        {
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Chiudi</Button>
            <Button Color="ButtonColor.Warning" @onclick="() => UpdateHardSkill(_updateHardSkill.Id)"> Modifica </Button>

        }
        else
        {
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Chiudi</Button>
            <Button Color="ButtonColor.Success" @onclick="AddNew">Aggiungi</Button>
        }

    </FooterTemplate>
</Modal>
<div>
    <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick"> Aggiungi Nuovo </Button>
</div>
@code {
    Grid<HardSkill>? _grid;
    private IEnumerable<HardSkill>? _hardskills;
    private Modal _modal = new();
    private bool _updateModal=false;
    private HardSkill _newHardSkill { get; set; } = new();
    private HardSkill _updateHardSkill { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetHardSkills();

    }
    private async Task OnShowModalClick()
    {
        _updateModal = true;
        await _modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        _updateModal = false;
        await _modal.HideAsync();

    }

    private async Task AddNew()
    {
        if (_newHardSkill!.DescrizioneHardSkills != null!)
        {
            await Http.PostAsJsonAsync("api/HardSkill/Create", _newHardSkill);
            await _grid!.RefreshDataAsync();
            await OnHideModalClick();
        }
    }

    private async Task<GridDataProviderResult<HardSkill>> HardSkillsDataProvider(GridDataProviderRequest<HardSkill> request)
    {
        // if (_benefits is null)
        _hardskills = await GetHardSkills();
        return await Task.FromResult(request.ApplyTo(_hardskills));
    }

    private async Task DeleteHardSkill(Guid id)
    {
        await Http.DeleteAsync($"api/HardSkill/{id}");
        await _grid!.RefreshDataAsync();
    }

    private async Task ShowModalUpdate(Guid id, HardSkill contexthardskill)
    {
        await _modal.ShowAsync();
        await Http.GetFromJsonAsync<HardSkill>($"api/HardSkill/{id}");
        _updateHardSkill.Id = id;
        _updateHardSkill.DescrizioneHardSkills = contexthardskill.DescrizioneHardSkills;
        _updateHardSkill.AttivoHS = contexthardskill.AttivoHS;

    }

    private async Task UpdateHardSkill(Guid id)
    {
        await Http.PutAsJsonAsync($"api/HardSkill/{id}", _updateHardSkill);
        await _grid!.RefreshDataAsync();
        await _modal.HideAsync();
    }

    private async Task<IEnumerable<HardSkill>> GetHardSkills()
    {
        var result = await Http.GetFromJsonAsync<IEnumerable<HardSkill>>("api/hardskill");
        return result!;
    }
}
