<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HRMichLeo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Benefits">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Benefits
            </NavLink>
        </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="HardSkills">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> HardSkills
                </NavLink>
            </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LivelliContrattuali">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Livelli Contrattuali
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mansioni">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mansioni
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SoftSkills">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SoftSkills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipologiaDocumenti">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tipologia Documenti
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TitoliDiStudio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Titoli di Studio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnagraficaSedi">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Anagrafica Sedi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Referenti">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Aggiungi Referente
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
